	{% extends 'employee/hrbase.html' %}


{% block title %}
    Admin View
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center text-xl font-bold mb-4">Employee List</h1>
        <div class="table-responsive">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th class="bg-gray-800 text-white">Name</th>
                        <th class="bg-gray-800 text-white">Username</th>
                        <th class="bg-gray-800 text-white">Email</th>
                        <th class="bg-gray-800 text-white">Is Staff</th>
                        <th class="bg-gray-800 text-white">Is Active</th>
                        <th class="bg-gray-800 text-white">Department</th>
                        <th class="bg-gray-800 text-white">Blood Group</th>
                        <th class="bg-gray-800 text-white">Date of Birth</th>
                        <th class="bg-gray-800 text-white">Age</th>
                        <th class="bg-gray-800 text-white">Mobile</th>
                        <th class="bg-gray-800 text-white">Gender</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                        <tr>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.username }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.is_staff }}</td>
                            <td>{{ employee.is_active }}</td>
                            <td>{{ employee.department }}</td>
                            <td>{{ employee.blood_group }}</td>
                            <td>{{ employee.dob }}</td>
                            <td>{{ employee.age }}</td>
                            <td>{{ employee.mobile }}</td>
                            <td>{{ employee.gender }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
