<!-- reports_partial.html -->

{% if reports %}
    <h2>Employee Reports for {{ reports.0.date|date:"F Y" }}</h2>
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Employee Name</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Employee ID</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Time</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Comments</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for report in reports|dictsort:"employee_id" %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">{{ report.employee.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ report.employee_id }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ report.date }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ report.time }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ report.status }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ report.comments }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
	<a href="{% url 'download_reports_csv' %}?month={{ reports.0.date|date:"m" }}&year={{ reports.0.date|date:"Y" }}" class="btn btn-primary mt-3">Download CSV</a>
{% else %}
	
    <p>No data available for this month.</p>
{% endif %}
