
# PyCharm
/.idea
/.idea/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

db.sqlite3
# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
venv*/
.venv/
.venv*/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
