{% extends 'employee/base.html' %}
{% block title %}
	New Password
{% endblock %}
{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class = "alert alert-danger" role = "alert">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	<div class = "flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
		<div class = "sm:mx-auto sm:w-full sm:max-w-md">
			<h2 class = "mt-10 text-center text-3xl font-bold leading-9 text-white">New Password</h2>
		</div>
		<div class = "mt-10 sm:mx-auto sm:w-full sm:max-w-md">
			<form method = "post" action = "{% url 'new_password' %}"
					class = "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
				{% csrf_token %}
				<div class = "mb-4">
					<label for = "{{ form.new_password.id_for_label }}"
							class = "block text-gray-700 text-sm font-bold mb-2">{{ form.new_password.label }}</label>
					<input type = "password"
							class = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
							name = "new_password" required = "" placeholder="New Password" id = "id_new_password">
				</div>

				<div class = "mb-4">
					<label for = "{{ form.confirm_new_password.id_for_label }}"
							class = "block text-gray-700 text-sm font-bold mb-2">{{ form.confirm_new_password.label }}</label>
					<input type = "password"
							class = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
							name = "confirm_new_password" required = "" placeholder="Confirm Password" id = "confirm_new_password">
				</div>
				<button type = "submit" class = "btn btn-primary">Change Password</button>
			</form>
		</div>
	</div>
{% endblock %}
