{% extends 'employee/base.html' %}

{% block title %}
	OTP sent
{% endblock %}
{% block content %}
	<h2>OTP Sent</h2>
    <p>An OTP has been sent to your registered email address. Please check your email.</p>
    <p>Enter the OTP below to proceed with password reset:</p>
    <form method="post" action="{% url 'password_reset_confirm' %}">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <label for="otp">Enter OTP:</label>
        <input type="text" id="otp" name="otp">
        <button type="submit">Verify OTP</button>
    </form>
{% endblock %}